<div class="flex flex-wrap" *ngrxLet="current$ as current">
  <app-toggle-button
    [active]="black$ | async"
    (click)="onClickBlack()"
    class="m-1"
    [current]="!!(black$ | async)"
  >
    Black
  </app-toggle-button>
  <app-toggle-button
    [active]="isChaseActive(programs.FADE)"
    (click)="onClickFade()"
    class="m-1"
    [current]="current.programName === programs.FADE"
    [progress]="current.progress"
  >
    Fade
  </app-toggle-button>
  <div class="flex-1"></div>
  <app-toggle-button
    (click)="onClickDisco()"
    class="m-1"
    [active]="isChaseActive(programs.DISCO)"
    [current]="current.programName === programs.DISCO"
    [progress]="current.progress"
  >
    Disco
  </app-toggle-button>
  <app-toggle-button
    (click)="onClickStrobe()"
    class="m-1"
    [active]="isChaseActive(programs.STROBE)"
    [current]="current.programName === programs.STROBE"
    [progress]="current.progress"
  >
    Strobe
  </app-toggle-button>
</div>
