<app-panel-group label="Color Themes" class="max-w-[602px]">
  @for (button of colorButtons(); track button.color) {
    <app-pad-button
      [color]="button.gradient"
      class="m-1"
      [active]="button.active"
      (click)="onClickToggleColor($event, button.color)"
      [current]="button.current"
      [progress]="current().progress"
    >
      <span>{{ button.a }}<br />{{ button.b }}</span>
    </app-pad-button>
  }
</app-panel-group>

<app-panel-group label="Switch All">
  <app-toggle-button
    [active]="allOn()"
    class="m-1"
    (click)="onClickSwitch($event, true)"
    colorOn="bg-cyan-500"
  >
    On
  </app-toggle-button>

  <app-toggle-button
    [active]="allOff()"
    class="m-1"
    (click)="onClickSwitch($event, false)"
    colorOn="bg-cyan-500"
  >
    Off
  </app-toggle-button>
</app-panel-group>

<app-panel-group label="Color Filter" class="max-w-[418px]">
  @for (button of filterButtons(); track button.color) {
    <app-pad-button
      [color]="button.gradient"
      size="small"
      class="m-1"
      [active]="button.active"
      (click)="onClickToggleFilter($event, button.color)"
    >
      <span>{{ button.color }}</span>
    </app-pad-button>
  }
</app-panel-group>
<div class="fixed top-0 right-0">
  <button mat-icon-button (click)="onClickClose()">
    <mat-icon svgIcon="close" />
  </button>
</div>
