<div
  class="flex flex-col p-5 overflow-hidden border border-cyan-700 rounded-sm"
  tabindex="0"
  >
  <h2>{{ device.id }}</h2>
  <table>
    @for (control of controls; track control) {
      <tr>
        <td>{{ control.key }}</td>
        <td>
          <mat-slider
            [min]="control.min"
            [max]="control.max"
            [step]="control.step"
            discrete
            >
            <input
              matSliderThumb
              [value]="control.value"
              (valueChange)="onValueChange(control, $event)"
              />
          </mat-slider>
        </td>
      </tr>
    }
  </table>
</div>
