<div class="flex flex-wrap justify-center" *ngrxLet="current$ as current">
  <app-pad-button
    color="bg-cyan-500"
    class="m-1"
    (click)="onClickChase(programs.ON)"
    [active]="isChaseActive(programs.ON)"
    [current]="current.programName === programs.ON"
    [progress]="current.progress"
    >On</app-pad-button
  >
  <app-pad-button
    color="bg-cyan-500"
    class="m-1"
    (click)="onClickChase(programs.MIRROR_BALL)"
    [active]="isChaseActive(programs.MIRROR_BALL)"
    [current]="current.programName === programs.MIRROR_BALL"
    [progress]="current.progress"
    >Kugel</app-pad-button
  >
  <app-pad-button
    color="bg-cyan-500"
    class="m-1"
    (click)="onClickChase(programs.MOODY)"
    [active]="isChaseActive(programs.MOODY)"
    [current]="current.programName === programs.MOODY"
    [progress]="current.progress"
    >Moody</app-pad-button
  >
  <app-pad-button
    color="bg-cyan-500"
    class="m-1"
    (click)="onClickChase(programs.CLUB)"
    [active]="isChaseActive(programs.CLUB)"
    [current]="current.programName === programs.CLUB"
    [progress]="current.progress"
    >Club</app-pad-button
  >
  <app-pad-button
    color="bg-cyan-500"
    class="m-1"
    (click)="onClickChase(programs.WILD)"
    [active]="isChaseActive(programs.WILD)"
    [current]="current.programName === programs.WILD"
    [progress]="current.progress"
    >Wild</app-pad-button
  >
</div>
