<div class="flex flex-wrap justify-center">
  <app-pad-button
    color="bg-cyan-500"
    class="m-1"
    (click)="onClickChase(programs.ON)"
    [active]="isChaseActive(programs.ON)"
    >On</app-pad-button
  >
  <app-pad-button
    color="bg-cyan-500"
    class="m-1"
    (click)="onClickChase(programs.MOODY)"
    [active]="isChaseActive(programs.MOODY)"
    >Moody</app-pad-button
  >
  <!-- <app-pad-button
    color="bg-gray-500"
    class="m-1"
    (click)="onClickChase(programs.DISCO)"
    [active]="isChaseActive(programs.DISCO)"
    >Disco</app-pad-button
  > -->
  <app-pad-button
    color="bg-cyan-500"
    class="m-1"
    (click)="onClickChase(programs.CLUB)"
    [active]="isChaseActive(programs.CLUB)"
    >Club</app-pad-button
  >
  <!-- <app-pad-button
    color="bg-gray-500"
    class="m-1"
    (click)="onClickChase(programs.FLASHY)"
    [active]="isChaseActive(programs.FLASHY)"
    >Flashy</app-pad-button
  > -->
</div>
