<div
  *ngrxLet="visuals$ as visuals"
  class="flex justify-between p-5 border border-cyan-700 rounded-sm flex-wrap"
>
  <div class="mr-12">
    <label>Source</label>
    <mat-radio-group
      [(ngModel)]="visuals.currentIndex"
      (ngModelChange)="onVisualIndexChange($event)"
      class="flex flex-col"
    >
      <mat-radio-button [value]="-1" color="primary">None</mat-radio-button>
      @for (source of visuals.sources; track source; let index = $index) {
      <mat-radio-button [value]="index" color="primary">{{
        source.url.replace(".mp4", "").replaceAll("-", " ") | titlecase
      }}</mat-radio-button>
      }
    </mat-radio-group>
  </div>
  <div class="flex flex-col">
    <div>Settings</div>
    <mat-checkbox
      [checked]="visuals.color === 'chase'"
      (change)="onToggleColor()"
      color="primary"
      >Chase Color</mat-checkbox
    >
    <mat-checkbox
      [checked]="visuals.opacity === 'chase'"
      (change)="onToggleOpacity()"
      color="primary"
      >Chase Opacity</mat-checkbox
    >
    <mat-checkbox
      [checked]="visuals.text"
      (change)="onToggleText()"
      color="primary"
      >Show Text</mat-checkbox
    >

    <div>
      <label>Width</label>
      <mat-slider [min]="0" [max]="100" [step]="1">
        <input
          matSliderStartThumb
          (dragEnd)="onSliderChange('left', $event)"
          [(ngModel)]="visuals.left"
        />
        <input
          matSliderEndThumb
          (dragEnd)="onSliderChange('right', $event)"
          [(ngModel)]="visuals.right"
        />
      </mat-slider>
      <label>Height</label>
      <mat-slider [min]="0" [max]="100" [step]="1">
        <input
          matSliderStartThumb
          (dragEnd)="onSliderChange('top', $event)"
          [(ngModel)]="visuals.top"
        />
        <input
          matSliderEndThumb
          (dragEnd)="onSliderChange('bottom', $event)"
          [(ngModel)]="visuals.bottom"
        />
      </mat-slider>
    </div>
  </div>
</div>
