<table class="mx-4 w-full">
  <thead>
    <tr>
      <th>CH</th>
      <th>Addr</th>
      <th>Type</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>-</td>
      <td>-</td>
      <td>override</td>
      <td>
        <button
          class="px-4 py-2 rounded-sm"
          [ngClass]="enabled() ? 'bg-cyan-500' : 'bg-gray-900'"
          (click)="onToggle()"
        >
          {{ enabled() ? "On" : "Off" }}
        </button>
      </td>
    </tr>
    @for (
      channel of device().channels;
      track $index + device().address;
      let index = $index
    ) {
      <tr>
        <td class="w-10">{{ index + 1 }}</td>
        <td class="w-10">{{ index + device().address }}</td>
        <td class="w-15">{{ channel }}</td>
        <td>
          <mat-slider [min]="0" [max]="255" [step]="1" discrete>
            <input
              matSliderThumb
              [value]="values()[index]"
              (valueChange)="onValueChange(index + device().address, $event)"
            />
          </mat-slider>
        </td>
        <td class="w-10">{{ values()[index] }}</td>
      </tr>
    }
  </tbody>
</table>
