<table class="mx-4 w-full">
  <thead>
    <tr>
      <th>CH</th>
      <th>Addr</th>
      <th>Type</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (channel of device.channels; track channel; let index = $index) {
      <tr>
        <td class="w-10">{{ index + 1 }}</td>
        <td class="w-10">{{ index + device.address }}</td>
        <td class="w-15">{{ channel }}</td>
        <td>
          <mat-slider [min]="0" [max]="255" [step]="1" discrete>
            <input
              matSliderThumb
              [value]="values[index]"
              (valueChange)="onValueChange(index + device.address, $event)"
              />
          </mat-slider>
        </td>
        <td class="w-10">{{ values[index] }}</td>
      </tr>
    }
  </tbody>
</table>
