.cdk-overlay-dark-backdrop {
  background: rgba(20, 20, 20, 1);
}

.mat-mdc-dialog-container {
  --mat-dialog-container-color: #000;
  --mat-dialog-container-shape: 0;
}

.mdc-slider__value-indicator {
  --mat-slider-label-container-color: #000;
}

.mat-mdc-slider .mdc-slider__value-indicator {
  --mat-slider-label-label-text-color: #fff;
}

.mat-expansion-panel {
  background: #000;
}

mat-slider {
  width: 100% !important;
}

.mat-mdc-progress-bar {
  --mat-progress-bar-active-indicator-color: #fff;
}

.mdc-icon-button {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mdc-dialog__surface {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-tab {
  padding-left: 12px !important;
  padding-right: 12px !important;
  min-width: 0 !important;
}

mat-tab-group {
  width: 100% !important;
}
