@use "sass:map";
@use "@angular/material" as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #001f24,
    20: #00363e,
    25: #00424b,
    30: #004f59,
    35: #005b67,
    40: #006875,
    50: #008393,
    60: #009fb2,
    70: #00bcd2,
    80: #41d8ef,
    90: #9defff,
    95: #d2f7ff,
    98: #eefcff,
    99: #f7fdff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #001f24,
    20: #00363e,
    25: #0b424a,
    30: #1b4d55,
    35: #295961,
    40: #36656e,
    50: #507e87,
    60: #6998a1,
    70: #84b3bc,
    80: #9fced8,
    90: #baebf5,
    95: #d2f7ff,
    98: #eefcff,
    99: #f7fdff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #2a0946,
    20: #40215c,
    25: #4c2d68,
    30: #583975,
    35: #644481,
    40: #71508e,
    50: #8b69a9,
    60: #a582c4,
    70: #c19de0,
    80: #deb8fd,
    90: #f1dbff,
    95: #faecff,
    98: #fff7fe,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1b,
    20: #303030,
    25: #3b3b3b,
    30: #474747,
    35: #525252,
    40: #5e5e5e,
    50: #777777,
    60: #919191,
    70: #ababab,
    80: #c6c6c6,
    90: #e2e2e2,
    95: #f1f1f1,
    98: #f9f9f9,
    99: #fcfcfc,
    100: #ffffff,
    4: #0e0e0e,
    6: #131313,
    12: #1f1f1f,
    17: #2a2a2a,
    22: #353535,
    24: #393939,
    87: #dadada,
    92: #e8e8e8,
    94: #eeeeee,
    96: #f3f3f3,
  ),
  neutral-variant: (
    0: #000000,
    10: #111e20,
    20: #263235,
    25: #313e40,
    30: #3c494c,
    35: #485557,
    40: #536163,
    50: #6c797c,
    60: #859396,
    70: #a0aeb1,
    80: #bbc9cc,
    90: #d7e5e8,
    95: #e5f3f6,
    98: #eefcff,
    99: #f7fdff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);

:root {
  @include mat.theme(
    (
      color: (
        primary: $primary-palette,
        theme-type: dark,
      ),
      typography: 'Roboto, "Helvetica Neue", sans-serif',
      density: 0,
    )
  );
}
