<div class="container" tabindex="0">
  <app-panel-group label="Global">
    <table>
      <tr>
        <td>Brightness</td>
        <td>
          <mat-slider [min]="0" [max]="1" [step]="0.05" discrete>
            <input
              matSliderThumb
              [value]="master$ | async"
              (valueChange)="onMasterChange($event)"
              />
          </mat-slider>
        </td>
      </tr>
      <tr>
        <td>Ambient UV</td>
        <td>
          <mat-slider [min]="0" [max]="255" [step]="1" discrete>
            <input
              matSliderThumb
              [value]="ambientUV$ | async"
              (valueChange)="onAmbientUVChange($event)"
              />
          </mat-slider>
        </td>
      </tr>
      @for (control of controls; track control) {
        <tr>
          <td>{{ control.id }}</td>
          <td>
            <mat-slider [min]="0" [max]="1" [step]="0.05" discrete>
              <input
                matSliderThumb
                [value]="control.value"
                (valueChange)="onValueChange(control, $event)"
                />
            </mat-slider>
          </td>
        </tr>
      }
    </table>
  </app-panel-group>
</div>
