<div class="flex flex-wrap" *ngrxLet="current$ as current">
  <app-pad-button
    *ngFor="let button of buttons"
    [color]="button.gradient"
    class="m-1"
    size="small"
    [active]="isColorActive(button.color)"
    (click)="onClickToggleColor(button.color)"
    [current]="button.color === current.color"
    [progress]="current.progress"
  >
    <span class="text-xs">{{ button.a }}<br />{{ button.b }}</span>
  </app-pad-button>
  <!-- 
  <div class="flex flex-wrap">
    <app-pad-button
      color="bg-gradient-to-br from-purple-500 via-purple-500 to-pink-500"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.UV_PINK)"
      (click)="onClickToggleColor(chaseColorEnum.UV_PINK)"
      [current]="chaseColorEnum.UV_PINK === current.color"
      [progress]="current.progress"
    >
    </app-pad-button>
    <app-pad-button
      color="bg-gradient-to-br from-blue-500 via-blue-500 to-cyan-500"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.BLUE_CYAN)"
      (click)="onClickToggleColor(chaseColorEnum.BLUE_CYAN)"
      [current]="chaseColorEnum.BLUE_CYAN === current.color"
      [progress]="current.progress"
    >
    </app-pad-button>
    <app-pad-button
      color="bg-gradient-to-br from-red-500 via-red-500 to-yellow-500"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.RED_AMBER)"
      (click)="onClickToggleColor(chaseColorEnum.RED_AMBER)"
      [current]="chaseColorEnum.RED_AMBER === current.color"
      [progress]="current.progress"
    >
    </app-pad-button>
    <app-pad-button
      color="bg-gradient-to-br from-green-500 via-green-500 to-cyan-500"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.GREEN_CYAN)"
      (click)="onClickToggleColor(chaseColorEnum.GREEN_CYAN)"
      [current]="chaseColorEnum.GREEN_CYAN === current.color"
      [progress]="current.progress"
    ></app-pad-button>
    <app-pad-button
      color="bg-gradient-to-br from-pink-500 to-teal-500"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.PINK_TEAL)"
      (click)="onClickToggleColor(chaseColorEnum.PINK_TEAL)"
      [current]="chaseColorEnum.PINK_TEAL === current.color"
      [progress]="current.progress"
    ></app-pad-button>
    <app-pad-button
      color="bg-gradient-to-br from-teal-500 to-red-500"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.TEAL_RED)"
      (click)="onClickToggleColor(chaseColorEnum.TEAL_RED)"
      [current]="chaseColorEnum.TEAL_RED === current.color"
      [progress]="current.progress"
    >
    </app-pad-button>
  </div>
  <div class="flex flex-wrap">
    <app-pad-button
      color="bg-gradient-to-br from-red-500 via-red-500 to-white"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.RED_WHITE)"
      (click)="onClickToggleColor(chaseColorEnum.RED_WHITE)"
      [current]="chaseColorEnum.RED_WHITE === current.color"
      [progress]="current.progress"
    >
    </app-pad-button>
    <app-pad-button
      color="bg-gradient-to-br from-blue-500 to-white"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.BLUE_WHITE)"
      (click)="onClickToggleColor(chaseColorEnum.BLUE_WHITE)"
      [current]="chaseColorEnum.BLUE_WHITE === current.color"
      [progress]="current.progress"
    >
    </app-pad-button>
    <app-pad-button
      color="bg-gradient-to-br from-teal-500 to-white"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.TEAL_WHITE)"
      (click)="onClickToggleColor(chaseColorEnum.TEAL_WHITE)"
      [current]="chaseColorEnum.TEAL_WHITE === current.color"
      [progress]="current.progress"
    >
    </app-pad-button>
    <app-pad-button
      color="bg-gradient-to-br from-purple-500 to-white"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.UV_WHITE)"
      (click)="onClickToggleColor(chaseColorEnum.UV_WHITE)"
      [current]="chaseColorEnum.UV_WHITE === current.color"
      [progress]="current.progress"
    >
    </app-pad-button>
    <app-pad-button
      color="bg-gradient-to-br from-pink-500 to-white"
      class="m-1"
      size="small"
      [active]="isColorActive(chaseColorEnum.PINK_WHITE)"
      (click)="onClickToggleColor(chaseColorEnum.PINK_WHITE)"
      [current]="chaseColorEnum.PINK_WHITE === current.color"
      [progress]="current.progress"
    >
    </app-pad-button>
  </div> -->
</div>
