<div class="flex flex-wrap justify-center">
  <app-pad-button
    color="bg-red-500"
    [active]="isColorActive(chaseColorEnum.RED)"
    (click)="onClickToggleColor(chaseColorEnum.RED)"
    class="m-1"
  ></app-pad-button>
  <app-pad-button
    color="bg-blue-500"
    class="m-1"
    [active]="isColorActive(chaseColorEnum.BLUE)"
    (click)="onClickToggleColor(chaseColorEnum.BLUE)"
  >
  </app-pad-button>
  <app-pad-button
    color="bg-green-500"
    class="m-1"
    [active]="isColorActive(chaseColorEnum.GREEN)"
    (click)="onClickToggleColor(chaseColorEnum.GREEN)"
  ></app-pad-button>
  <app-pad-button
    color="bg-white"
    class="m-1"
    [active]="isColorActive(chaseColorEnum.WHITE)"
    (click)="onClickToggleColor(chaseColorEnum.WHITE)"
  ></app-pad-button>
  <app-pad-button
    color="bg-purple-500"
    class="m-1"
    [active]="isColorActive(chaseColorEnum.UV)"
    (click)="onClickToggleColor(chaseColorEnum.UV)"
  ></app-pad-button>
  <app-pad-button
    color="bg-yellow-500"
    class="m-1"
    [active]="isColorActive(chaseColorEnum.AMBER)"
    (click)="onClickToggleColor(chaseColorEnum.AMBER)"
  ></app-pad-button>
</div>
