<div class="flex flex-wrap items-center" tabindex="0">
  <app-panel-group>
    <div class="flex flex-col">
      <div class="flex justify-center">
        <app-bpm-number></app-bpm-number>
      </div>
      <div class="flex">
        <mat-slider
          *ngrxLet="bpm$ as bpm"
          [min]="60"
          [max]="240"
          [step]="0.5"
          discrete
        >
          <input
            matSliderThumb
            [value]="bpm"
            (dragEnd)="onSliderChange($event)"
          />
        </mat-slider>
      </div>

      <div class="flex justify-between mt-2">
        <app-pad-button
          size="small"
          color="bg-gray-900"
          (click)="onChangeValue(-2)"
          class="mr-1"
          >--</app-pad-button
        >
        <app-pad-button
          size="small"
          color="bg-gray-900"
          (click)="onChangeValue(-1)"
          class="mr-1"
          >-</app-pad-button
        >
        <app-pad-button
          size="small"
          color="bg-gray-900"
          (click)="onChangeValue(1)"
          class="mr-1"
          >+</app-pad-button
        >
        <app-pad-button
          size="small"
          color="bg-gray-900"
          (click)="onChangeValue(2)"
          >++</app-pad-button
        >
      </div>

      <div class="flex justify-between mt-2">
        <app-pad-button
          color="bg-gray-900"
          [active]="true"
          (click)="onClickStart()"
          class="mr-1"
          >Start</app-pad-button
        >
        <app-pad-button
          color="bg-gray-900"
          (click)="onClickRound()"
          class="mr-1"
          >Round</app-pad-button
        >
        <app-pad-button
          color="bg-gray-900"
          [active]="true"
          (click)="onClickTap()"
          >Tap</app-pad-button
        >
      </div>
    </div>
  </app-panel-group>

  <!-- <div class="flex flex-1 justify-center items-center flex-wrap">
    @for (preset of presets; track $index) {
    <app-pad-button
      size="small"
      (click)="onClickPreset(preset)"
      class="m-0.5 text-gray-600"
      >{{ preset }}</app-pad-button
    >
    }
  </div> -->
</div>
