// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$custom-primary: (
  50: #e4fafd,
  100: #bdf2fa,
  200: #91e9f7,
  300: #64e0f3,
  400: #43daf1,
  500: #22d3ee,
  600: #1eceec,
  700: #19c8e9,
  800: #14c2e7,
  900: #0cb7e2,
  A100: #ffffff,
  A200: #daf7ff,
  A400: #a7ecff,
  A700: #8de6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dmx-frontend-primary: mat.define-palette($custom-primary);
$dmx-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dmx-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dmx-frontend-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dmx-frontend-primary,
      accent: $dmx-frontend-accent,
      warn: $dmx-frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dmx-frontend-theme);

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "scss/material.scss";

button {
  touch-action: manipulation;
}

.strobe {
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  opacity: 0;
  &.slow {
    animation-name: fade-animation-slow;
  }
  &.middle {
    animation-name: fade-animation-middle;
  }
  &.fast {
    animation-name: fade-animation-fast;
  }
}

@keyframes fade-animation-fast {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes fade-animation-middle {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}

@keyframes fade-animation-slow {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
