<div class="container" tabindex="0">
  <app-panel-group label="Global">
    <table>
      <tr>
        <td>Brightness</td>
        <td>
          <mat-slider [min]="0" [max]="1" [step]="0.05" discrete>
            <input
              matSliderThumb
              [value]="master$ | async"
              (valueChange)="onMasterChange($event)"
            />
          </mat-slider>
        </td>
      </tr>
      <tr>
        <td>Ambient UV</td>
        <td>
          <mat-slider [min]="0" [max]="255" [step]="1" discrete>
            <input
              matSliderThumb
              [value]="ambientUV$ | async"
              (valueChange)="onAmbientUVChange($event)"
            />
          </mat-slider>
        </td>
      </tr>
      <tr>
        <td>Video</td>
        <td *ngrxLet="visuals$ as visuals">
          <mat-select
            [value]="visuals.currentIndex"
            (selectionChange)="onVisualChange($event)"
          >
            <mat-option
              *ngFor="let source of visuals.sources; index as index"
              [value]="index"
              >{{
                source.url.replace(".mp4", "").replaceAll("-", " ") | titlecase
              }}</mat-option
            >
          </mat-select>
        </td>
      </tr>
      <tr>
        <td>Visualisation</td>
        <td>
          <mat-slide-toggle
            [checked]="visualisation$ | async"
            (toggleChange)="onToggleVisualisation()"
            color="primary"
          ></mat-slide-toggle>
        </td>
      </tr>
    </table>
  </app-panel-group>
</div>
