<div
  class="relative flex border-gray-900 border-4 w-20 h-10"
  *ngrxLet="show$ as show"
>
  @if (show) {
  <ng-container *ngrxLet="video$ as video">
    <div
      class="relative flex-1 flex justify-center items-center overflow-hidden"
      [style.opacity]="video.opacity"
    >
      <ng-container>
        @if (show === 'video') {
        <video
          class="w-20 h-10 max-w-none"
          [muted]="true"
          [loop]="true"
          (loadedmetadata)="onLoadedMetadata()"
          #videoElement
        ></video>
        } @if (show !== 'hidden') {
        <div
          [style.background-color]="video.color"
          class="absolute inset-0"
          [class.mix-blend-color]="show === 'video'"
          [style.opacity]="show === 'video' ? 1 : video.opacity"
        ></div>
        <div
          *ngrxLet="text$ as text"
          class="absolute inset-0 flex items-center justify-center"
        >
          <p
            class="text-overlay"
            [style.-webkit-text-stroke]="'2px ' + video.color"
            [style.opacity]="text.opacity"
          >
            {{ text.message }}
          </p>
        </div>
        }
      </ng-container>
    </div>
  </ng-container>
  }
</div>
