<div class="relative flex border-gray-900 border-4 w-20 h-10">
  @if (show() !== "hidden") {
    <div
      class="relative flex-1 flex justify-center items-center overflow-hidden"
      [style.opacity]="performanceMode() ? undefined : video().opacity"
      [ngClass]="performanceMode() ? undefined : video().strobe.classes"
      [style.animation-duration]="
        performanceMode() ? undefined : video().strobe.duration
      "
    >
      @if (show() === "video") {
        <video
          class="w-20 h-10 max-w-none"
          [muted]="true"
          [loop]="true"
          (loadedmetadata)="onLoadedMetadata()"
          #videoElement
        ></video>
        @if (color() === "chase") {
          <div
            [style.background-color]="video().color"
            class="absolute inset-0 mix-blend-color"
          ></div>
        }
      }
      @if (show() === "color") {
        <div
          [style.background-color]="
            color() === 'chase' ? video().color : '#555'
          "
          class="absolute inset-0 flex items-center justify-center"
        >
          <mat-icon svgIcon="movie_off" class="text-black" />
        </div>
      }
    </div>
  }
</div>
