:host {
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  position: relative;
}

.beamer-wrapper {
  position: absolute;
  top: 0;
  left: 110px;
}
