<div class="flex flex-col pt-2">
  <h2 class="text-cyan-600 font-thin text-center">Colors</h2>
  <app-board-colors></app-board-colors>
  <hr class="border-cyan-900 mb-1 mt-2" />

  <h2 class="text-cyan-600 font-thin text-center">Chases</h2>
  <app-board-chases></app-board-chases>
  <hr class="border-cyan-900 mb-1 mt-2" />

  <h2 class="text-cyan-600 font-thin text-center">Overrides</h2>
  <app-board-overrides></app-board-overrides>
  <hr class="border-cyan-900 mb-1 mt-2" />

  <h2 class="text-cyan-600 font-thin text-center">BPM</h2>
  <div class="flex justify-center">
    <app-bpm></app-bpm>
  </div>
  <hr class="border-cyan-900 mb-1 mt-2" />

  <h2 class="text-cyan-600 font-thin text-center">Preview</h2>
  <app-visualization></app-visualization>
</div>
