<div class="flex flex-row pt-2 flex-wrap">
  <div class="flex flex-col justify-start">
    <app-panel-group label="Colors">
      <app-board-colors></app-board-colors>
    </app-panel-group>
    <app-panel-group label="Chases">
      <app-board-chases></app-board-chases>
    </app-panel-group>
    <app-panel-group label="Buildups">
      <app-board-buildups></app-board-buildups>
    </app-panel-group>
    <app-panel-group label="Overrides">
      <app-board-overrides></app-board-overrides>
    </app-panel-group>
  </div>

  <div class="flex flex-col">
    <div class="flex">
      <app-panel-group label="BPM">
        <app-bpm></app-bpm>
      </app-panel-group>
    </div>
    <app-panel-group label="Visualization">
      <app-visualization></app-visualization>
    </app-panel-group>
    <app-panel-group>
      <div class="flex flex-1 justify-center items-center h-16 my-1">
        <button
          class="text-cyan-600"
          mat-icon-button
          (click)="onOpenBrightnessModal()"
        >
          <mat-icon svgIcon="brightness"></mat-icon>
        </button>
        <button
          class="text-cyan-600"
          mat-icon-button
          (click)="onVisualisationToggle()"
          *ngrxLet="visualisation$ as visualisation"
        >
          <mat-icon
            [svgIcon]="visualisation ? 'visibility' : 'visibility_off'"
          ></mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="onVideoToggle()"
          *ngrxLet="video$ as video"
          [color]="video ? 'primary' : null"
        >
          <mat-icon svgIcon="movie"></mat-icon>
        </button>
        <button
          class="text-cyan-600"
          mat-icon-button
          (click)="onOpenChannelMixerModal()"
        >
          <mat-icon svgIcon="tune"></mat-icon>
        </button>

        <button
          class="text-cyan-600"
          mat-icon-button
          (click)="onRefreshClick()"
        >
          <mat-icon svgIcon="refresh"></mat-icon>
        </button>
      </div>
    </app-panel-group>
  </div>
</div>
