<div class="flex flex-row pt-2 flex-wrap justify-center">
  <div class="flex flex-col justify-start">
    <app-panel-group label="Overrides" class="mb-1">
      <app-override-program-button
        size="small"
        [name]="overrideProgram.WHITE"
        color="bg-red-900"
      >
        <span class="text-xs tracking-widest">White</span>
      </app-override-program-button>
      <app-override-program-button
        size="small"
        [name]="overrideProgram.DAY"
        color="bg-red-900"
      >
        <span class="text-xs tracking-widest">Day</span>
      </app-override-program-button>
      <app-override-program-button
        size="small"
        [name]="overrideProgram.NIGHT"
        color="bg-red-900"
      >
        <span class="text-xs tracking-widest">Night</span>
      </app-override-program-button>
      <app-override-program-button
        size="small"
        [name]="overrideProgram.WARM"
        color="bg-red-900"
      >
        <span class="text-xs tracking-widest">Warm</span>
      </app-override-program-button>
      <app-override-program-button
        size="small"
        [name]="overrideProgram.FADE"
        color="bg-red-900"
      >
        <span class="text-xs tracking-widest">Fade</span>
      </app-override-program-button>
    </app-panel-group>

    <app-panel-group label="Chases" class="mb-1">
      <div class="flex flex-col">
        <ng-container *ngrxLet="currentColor$ as currentColor">
          <app-pad-button
            [color]="currentColor.gradient"
            class="m-1 mr-10"
            size="small"
            (click)="onClickOpenColorsModal()"
            [current]="true"
            [progress]="currentColor.progress"
          >
            <span class="text-xs tracking-widest"
              >{{ currentColor.a }}<br />{{ currentColor.b }}</span
            >
          </app-pad-button>
        </ng-container>

        <ng-container *ngrxLet="visualsSettings$ as visuals">
          <app-pad-button
            class="m-1"
            size="small"
            color="bg-cyan-500"
            [active]="visuals.currentIndex > -1"
            [current]="visuals.currentIndex > -1"
            (click)="onClickOpenVisualsModal()"
          >
            <span class="text-xs tracking-widest">Video</span>
          </app-pad-button>
        </ng-container>
      </div>
      <div class="flex-1"></div>
      <div class="flex flex-wrap justify-end" style="max-width: 280px">
        <app-active-program-button
          size="small"
          [name]="activeProgram.MIRROR_BALL"
        >
          <span class="text-xs tracking-widest">Ball</span>
        </app-active-program-button>
        <app-active-program-button size="small" [name]="activeProgram.MAGIC">
          <span class="text-xs tracking-widest">Magic</span>
        </app-active-program-button>
        <app-active-program-button size="small" [name]="activeProgram.PRIDE">
          <span class="text-xs tracking-widest">Pride</span>
        </app-active-program-button>
        <app-active-program-button size="small" [name]="activeProgram.MOODY">
          <span class="text-xs tracking-widest">Moody</span>
        </app-active-program-button>
        <app-active-program-button size="small" [name]="activeProgram.CLUB">
          <span class="text-xs tracking-widest">Club</span>
        </app-active-program-button>
        <app-active-program-button size="small" [name]="activeProgram.PULSE">
          <span class="text-xs tracking-widest">Pulse</span>
        </app-active-program-button>
        <app-active-program-button size="small" [name]="activeProgram.LATE">
          <span class="text-xs tracking-widest">Late</span>
        </app-active-program-button>
        <app-active-program-button size="small" [name]="activeProgram.ROUGH">
          <span class="text-xs tracking-widest">Rough</span>
        </app-active-program-button>
        <app-active-program-button size="small" [name]="activeProgram.DARK">
          <span class="text-xs tracking-widest">Dark</span>
        </app-active-program-button>
        <app-active-program-button size="small" [name]="activeProgram.WILD">
          <span class="text-xs tracking-widest">Wild</span>
        </app-active-program-button>
      </div>
    </app-panel-group>

    <app-panel-group label="Buildups" class="mb-2">
      <app-override-program-button [name]="overrideProgram.BUILDUP_BRIGHT">
        <span class="text-xs tracking-widest">Bright</span>
      </app-override-program-button>
      <app-override-program-button [name]="overrideProgram.BUILDUP_FADEOUT">
        <span class="text-xs tracking-widest">Fadeout</span>
      </app-override-program-button>
      <div class="flex-1"></div>
      <app-override-program-button
        [name]="overrideProgram.BUILDUP_BEAM"
        color="bg-red-900"
      >
        <div class="flex flex-col">
          <span class="text-xs tracking-widest">Beam</span>
          <span style="line-height: 0.5rem">∞</span>
        </div>
      </app-override-program-button>
      <app-override-program-button
        [name]="overrideProgram.BUILDUP_BLINDER"
        color="bg-red-900"
      >
        <div class="flex flex-col">
          <span class="text-xs tracking-widest">Blinder</span>
          <span style="line-height: 0.5rem">∞</span>
        </div>
      </app-override-program-button>
      <app-override-program-button
        [name]="overrideProgram.BUILDUP_STREAK"
        color="bg-red-900"
      >
        <div class="flex flex-col">
          <span class="text-xs tracking-widest">Streak</span>
          <span style="line-height: 0.5rem">∞</span>
        </div>
      </app-override-program-button>
      <app-override-program-button
        [name]="overrideProgram.BUILDUP_BLINK"
        color="bg-red-900"
      >
        <div class="flex flex-col">
          <span class="text-xs tracking-widest">Blink</span>
          <span style="line-height: 0.5rem">∞</span>
        </div>
      </app-override-program-button>
    </app-panel-group>

    <app-panel-group label="Strobes">
      <app-override-program-button [name]="overrideProgram.STROBE_FLASH">
        <span class="text-xs tracking-widest">Flash</span>
      </app-override-program-button>
      <app-override-program-button [name]="overrideProgram.STROBE_SLOWMO">
        <span class="text-xs tracking-widest">Slow</span>
      </app-override-program-button>
      <app-override-program-button [name]="overrideProgram.STROBE_WHITE">
        <span class="text-xs tracking-widest">White</span>
      </app-override-program-button>
      <app-override-program-button [name]="overrideProgram.STROBE_PIXELS">
        <span class="text-xs tracking-widest">Pixels</span>
      </app-override-program-button>
      <app-override-program-button
        [name]="overrideProgram.STROBE_DISCO"
        color="bg-red-900"
      >
        <div class="flex flex-col">
          <span class="text-xs tracking-widest">Disco</span>
          <span style="line-height: 0.5rem">∞</span>
        </div>
      </app-override-program-button>
      <app-override-program-button
        [name]="overrideProgram.STROBE_STORM"
        color="bg-red-900"
      >
        <div class="flex flex-col">
          <span class="text-xs tracking-widest">Storm</span>
          <span style="line-height: 0.5rem">∞</span>
        </div>
      </app-override-program-button>
    </app-panel-group>
  </div>

  <div class="flex flex-col">
    <div class="flex">
      <app-panel-group label="BPM">
        <app-bpm></app-bpm>
      </app-panel-group>
      <div class="flex flex-1 flex-col justify-center items-center">
        <button mat-icon-button (click)="onRefreshClick()">
          <mat-icon svgIcon="refresh"></mat-icon>
        </button>
        <button mat-icon-button (click)="onOpenChannelMixerModal()">
          <mat-icon svgIcon="tune"></mat-icon>
        </button>
      </div>
    </div>
    <app-panel-group label="Visualisation">
      <app-visualisation></app-visualisation>
    </app-panel-group>
    <div class="flex">
      <app-panel-group style="flex: 0">
        <app-toggle-button
          [active]="black$ | async"
          (click)="onClickBlack()"
          class="m-1"
          [current]="!!(black$ | async)"
          colorOn="bg-red-900"
        >
          <span class="text-xs tracking-widest">Black</span>
        </app-toggle-button>
      </app-panel-group>
      <app-panel-group class="flex-1">
        <div class="flex flex-1 justify-center items-center h-16 m-1">
          <button
            *ngrxLet="performanceMode$ as performanceMode"
            mat-icon-button
            (click)="onTogglePerformanceMode()"
            class="m-2"
          >
            <mat-icon
              svgIcon="tortoise"
              [ngClass]="performanceMode ? 'text-red-600' : undefined"
            ></mat-icon>
          </button>

          <button mat-icon-button (click)="onOpenBrightnessModal()" class="m-2">
            <mat-icon svgIcon="brightness"></mat-icon>
          </button>

          <button
            *ngrxLet="neopixelDisabled$ as neopixelDisabled"
            mat-icon-button
            (click)="onToggleNeopixelDisabled()"
            class="m-2"
          >
            <mat-icon
              svgIcon="neopixel_off"
              [ngClass]="neopixelDisabled ? 'text-red-600' : undefined"
            ></mat-icon>
          </button>
        </div>
      </app-panel-group>
    </div>
  </div>
</div>
