<div class="flex flex-col relative">
  <!-- Front -->
  <div class="flex justify-center items-end">
    <app-varytec-hero-wash
      class="mr-2"
      [address]="114"
      id="head-left"
    ></app-varytec-hero-wash>
    <div class="flex flex-col items-center">
      <app-beamer id="beamer"></app-beamer>
      <app-eurolite-led-pix-bar
        [address]="50"
        id="bar"
        class="translate-y-2"
      ></app-eurolite-led-pix-bar>
    </div>
    <app-varytec-hero-wash
      class="ml-2"
      [address]="130"
      id="head-right"
    ></app-varytec-hero-wash>
  </div>
  <!-- Middle -->
  <div class="flex flex-1 justify-center">
    <!-- Left -->
    <div class="flex flex-col items-center justify-center">
      <app-varytec-gigabar-hex
        class="m-1"
        [vertical]="true"
        [address]="1"
        id="hex-1"
      ></app-varytec-gigabar-hex>
      <app-varytec-gigabar-hex
        class="m-1"
        [vertical]="true"
        [address]="20"
        id="hex-3"
      ></app-varytec-gigabar-hex>
    </div>
    <!-- Center -->
    <div class="flex flex-1 justify-center items-center">
      <app-neopixel-strip id="neopixel-a" class="m-2"></app-neopixel-strip>
      <app-adj-saber-spot
        class="m-2"
        [address]="108"
        id="spot"
      ></app-adj-saber-spot>
      <app-fun-generation-led-diamond-dome
        class="m-2"
        [address]="99"
        id="dome"
      ></app-fun-generation-led-diamond-dome>
      <app-neopixel-strip id="neopixel-b" class="m-2"></app-neopixel-strip>
    </div>
    <!-- Right -->
    <div class="flex flex-col items-center justify-center">
      <app-varytec-gigabar-hex
        class="m-1"
        [vertical]="true"
        [address]="10"
        id="hex-2"
      ></app-varytec-gigabar-hex>
      <app-varytec-gigabar-hex
        class="m-1"
        [vertical]="true"
        [address]="30"
        id="hex-4"
      ></app-varytec-gigabar-hex>
    </div>
  </div>
  <!-- Back -->
  <div class="flex w-full justify-center absolute bottom-0">
    <app-varytec-gigabar-hex
      [address]="40"
      id="hex-5"
    ></app-varytec-gigabar-hex>
  </div>
</div>
