<div class="flex flex-col relative">
  <!-- Front -->
  <div class="flex justify-center items-end">
    <app-varytec-hero-wash class="mr-2" [address]="114"></app-varytec-hero-wash>
    <div class="flex flex-col items-center">
      <app-beamer></app-beamer>
      <app-eurolite-led-pix-bar
        [address]="50"
        class="translate-y-2"
      ></app-eurolite-led-pix-bar>
    </div>
    <app-varytec-hero-wash class="ml-2" [address]="130"></app-varytec-hero-wash>
  </div>
  <!-- Middle -->
  <div class="flex flex-1 justify-center">
    <!-- Left -->
    <div class="flex flex-col items-center justify-center">
      <app-varytec-gigabar-hex
        class="m-1"
        [vertical]="true"
        [address]="1"
      ></app-varytec-gigabar-hex>
      <app-varytec-gigabar-hex
        class="m-1"
        [vertical]="true"
        [address]="20"
      ></app-varytec-gigabar-hex>
    </div>
    <!-- Center -->
    <div class="flex flex-1 justify-center items-center">
      <app-adj-saber-spot class="m-2" [address]="108"></app-adj-saber-spot>
      <app-fun-generation-led-diamond-dome
        class="m-2"
        [address]="99"
      ></app-fun-generation-led-diamond-dome>
    </div>
    <!-- Right -->
    <div class="flex flex-col items-center justify-center">
      <app-varytec-gigabar-hex
        class="m-1"
        [vertical]="true"
        [address]="10"
      ></app-varytec-gigabar-hex>
      <app-varytec-gigabar-hex
        class="m-1"
        [vertical]="true"
        [address]="30"
      ></app-varytec-gigabar-hex>
    </div>
  </div>
  <!-- Back -->
  <div class="flex w-full justify-center absolute bottom-0">
    <app-varytec-gigabar-hex [address]="40"></app-varytec-gigabar-hex>
  </div>
</div>
