<table class="w-full">
  <thead>
    <tr>
      <th>CH</th>
      <th>Addr</th>
      <th>Type</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    @for (
      channel of channels();
      track $index + device().address;
      let index = $index
    ) {
      <tr>
        <td class="w-10">{{ index + 1 }}</td>
        <td class="w-10">{{ index + device().address }}</td>
        <td class="w-15">{{ channel.type }}</td>
        <td>
          <div class="flex items-center">
            <mat-slider [min]="0" [max]="255" [step]="1" discrete>
              <input
                matSliderThumb
                [value]="values()[index]"
                (valueChange)="onValueChange(index + device().address, $event)"
              />
            </mat-slider>
            <span class="ml-6">{{ values()[index] }}</span>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
