<button
  class="relative rounded-md overflow-hidden"
  [ngClass]="color"
  (click)="onClick()"
  [class.w-16]="size === 'normal'"
  [class.h-16]="size === 'normal'"
  [class.w-12]="size === 'small'"
  [class.h-12]="size === 'small'"
  >
  <div
    class="absolute inset-0 bg-black"
    [class.opacity-0]="active"
    [class.opacity-70]="!active"
    [class.animate-pulse]="current"
  ></div>
  <div class="relative flex justify-center items-center">
    <ng-content> </ng-content>
  </div>
  @if (current) {
    <div class="progress">
      <div class="progress-current" [style.width.%]="progress"></div>
    </div>
  }
</button>
