:host {
  display: block;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
}

.progress-current {
  height: 4px;
  background: rgba(255, 255, 255, 0.7);
}
